<div class="main_form">
  <div class="main">
    <div class="inner">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="user_back">
          <div class='users_form_edit'>
            <div class='image_user_form'>
            <div class="image_preview_user", id="image-list"></div>
            <% if @user.user_image.attached? %>
              <%= image_tag @user.user_image , class: "photo_user"%> 
            <% else %>
              <%= image_tag ( "photo.jpg") , class: "photo_user" %> 
            <% end%>
            </div>
      　　　　 <%= f.file_field :user_image %> 
          </div>  
        </div>
        <div class="user_texts">
          <div class="user_name_edit">
            <%= f.text_field :name, autofocus: true%>
          </div>
          <div class="user_profiles_edit">
            <%= f.text_field :profile, class: "profile_edit"%>
          </div>
        </div>
        <div class="button_form_edit">
          <div class='button_update'>
            <%= f.submit "update", class: 'btn_update'%>
          </div>
          <div class='button_delete'>
            <%=link_to user_path(current_user.id), method: :delete  do %>
              <%= f.submit "Delete", class: 'btn_delete'%>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
