<div class="main_form">
  <div class="main">
    <div class="inner">
      <div class="user__wrapper">
        <div class="page-heading">
          <div class="user_names"><%= @user.name%></div>
        </div>
        <div class='user-form'>
          <div class="user-forms">
            <div class='user_image'>
            <% if @user.user_image.attached? %>
                <%= image_tag @user.user_image , class: "user_image"%> 
              <% else %>
            <%= image_tag ( "photo.jpg") , class: "user_image" %> 

              <% end%>
            </div>
            
          </div>
        </div>
      </div>
      <div class="user_profile">
        <div class="user_name">
          <%= @user.name %>
        </div>
        <div class="user_profiles">
          <%= @user.profile %>
        </div>
        <div class="follows">
          <%if user_signed_in? && current_user != @user %>
            <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
              <%= link_to 'unfollow', [@user, :follow], method: :delete, class: :unfollow %>
            <% else %>
              <%= link_to 'follow', [@user, :follow], method: :post, class: :follow %>
            <% end %>
          <% else%>
            <%= link_to "プロフィールを編集", edit_user_path(current_user), class: :edit_button %>
          <% end %>
          <div class="user_button">
            <div class="user_buttons">投稿</div>
          </div>
        </div>  
        <div class="user-post">
          <div class="`user_post-contents">
            <% @posts.each do |post| %>
              <div class="user_post-content">
                <div class="post_body">
                  <div class='image_content'>

                  </div>
                  <%= link_to post.title, post_path(post.id), method: :get, class: :card__title%>
                </div>
              </div> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>