<div class="form">
  <div class="field">
    <%= form_with(model: @post,local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="image_form">
        <div class="image_preview", id="image-list"></div>
        <% if @post.post_image.attached? %>
          <%= image_tag @post.post_image , class: "photo"%> 
        <% else %>
          <%= image_tag 'photo.jpg',class: "photo" %>
        <% end%>
       <%= f.file_field :post_image %> 
        <div class="text_field">
          <%= f.text_area :title ,placeholder:"オプションを記入" %>
        </div>
      </div>
      <div class="action_form">
        <div class="actions">
          <%= button_to "キャンセル", {controller: 'posts', action: 'index'}, {method: :get} %>
        </div>
        <div class="actions">
          <%= f.submit "  送  信  " %>
        </div>
      </div>
     <% end %>
  </div>
</div>