<div class="main"><%= link_to image_tag("top.jpg", class: :logo), root_path %>
  <div class="inner">
    <div class="post-contents">
        <% @posts.each do |post| %>
          <div class="post-content">
            <div class="post_body">
              <div class='image_content'>
                <%= link_to image_tag post.post_image, class: "post_image"%>
              </div>
            </div>
            <div class="text_form">
                <%= link_to post.title, post_path(post.id), method: :get, class: :card_title%>
                <div class="like", id="post_<%= post.id %>">
                  <% if user_signed_in?%>
                    <% if current_user.liked_by?(post.id) %>
                      <div>
                        <%= link_to destroy_like_path(post), class: "like-link", method: :DELETE, remote: true do %>
                        <i class="fa fa-heart unlike-btn"></i>
                        <% end %>
                        <%= post.likes.count %>
                      </div>
                    <% else %>
                      <div>
                        <%= link_to create_like_path(post), class: "like-link", method: :POST, remote: true do %>
                        <i class="fa fa-heart like-btn"></i>
                        <% end %>
                        <%= post.likes.count %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
            <div class="user_form_index">
              <div class="user_image_index">
                <% if post.user.user_image.attached? %>
                  <%= image_tag post.user.user_image , class: "user_image_index"%> 
                <% else %>
                  <%= image_tag ( "photo.jpg") , class: "user_image_index" %> 
                <% end%>
              </div>
              <div class="users_name">
                <%= link_to post.user.name, user_path(post.user.id), method: :get, class: :card__title%>
              </div>
            </div>
          </div> 
        <% end %>
    </div>
  </div>
</div>

