<div class="main_form">  
  <div class="form">
    <div class="more">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <ul class="global_menu">
          <li><a class="navber" ,href="#"><%= image_tag 'nav-top.png' ,class: "nav_image"%></a>
            <ul>
              <li><%= link_to "編集する", edit_post_path(@post.id), method: :get, class: :pull_down_list %></li>
              <li><%= link_to "削除する", post_path, method: :delete, class: :pull_down_list %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div> 
    <div class="image">
      <div id="image-list"></div>
      <%= attachment_image_tag @post, :post_image, class: "posts"  %>
      <div class="post_user_name">
        <%= @post.user.name%>
      </div>
      <div class="text_field">
        <%=  @post.text %>
      </div>
      <div class="comments">
        <% if user_signed_in?%>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <div class="text_field">
              <%= f.label :text, "コメント" %>
              <%= f.text_field :text %>
              <%= f.submit '投稿する' , id: "submit" %>
            </div>
          <% end %> 
        <% end %>        
        <div class="comment_forms">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <div class="comment_form">
                <%= link_to attachment_image_tag(comment.user, :user_image, class: "user_images", fallback:"photo.jpg"), user_path(comment.user.id)%>
                <div class="user_name_form">
                  <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
                </div>
                <div class="comment_texts">
                  <%= comment.text %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>